[Desktop Entry]
Type=Application
Name=Bunsen Look And Feel
GenericName=Bunsen Look And Feel
Comment=Customizes look and feel of desktop and applications
Keywords=windows;preferences;settings;theme;style;appearance;
Icon=preferences-desktop-theme
Categories=GTK;Settings;DesktopSettings;
